<html>
    <head>

    </head>
    <body>
        <form action="/<%=id%>/reminders/personal-reminders/add" method="post">
            <button type="submit" name="date" value="<%=date%>">Add reminder</button>
        </form>
        <%if(flag){%>
            <h3>You have no reminders</h3>
          <%}%>
          <%if(flag2){%>
            <%entries.forEach(function(entry){%>
              <div class="">
                <h3><%=entry.time%></h3>
                <h3><%=entry.title%></h3>
                <h3><%=entry.contents%></h3>
              </div>
              <br>
              <br>
            <%});%>
          <%}%>
    </body>
</html>