<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower&display=swap" rel="stylesheet">
    <title></title>
<style>
  .wholediv{
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(20deg, #6bc5d2 65%, #d2fafb 35%);
  min-height: 100vh;
  font-family: 'helvetica neue';
  height: 100vh;
  margin: 0 0;
  padding-top: 7.5%;
}

.diary_entry{
  font-family: 'Dancing Script', cursive;
}

</style>
</head>
<body>
<div class="wholediv">

  <h1>Diary Entries</h1>
<form class="" action="/<%=name%>/addentry" method="post">
  <button type="submit" name="button">Add entry</button>
</form>
<form class="" action="/<%=name%>" method="post">
  <button type="submit" name="button">Back to homepage</button>
</form>
<%if(flag){%>
  <h3>You have no books</h3>
<%}%>
<%if(flag2){%>
  <%entries.forEach(function(entry){%>
    <div class="diary_entry">
    <div class="">
      <h3><%=entry.date%>.<%=entry.month%>.<%=entry.year%></h3>
      <h3><%=entry.time%></h3>
      <h3><%=entry.title%></h3>
      <h3><%=entry.contents%></h3>
    </div>
    <br>
    <br>
  <%});%>
<%}%>
</div>
</div>
</body>
</html>

